## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle.

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [2]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [5]:
df = pd.read_csv('Automobile.csv')
df

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Check the head of the DataFrame.**

In [4]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [11]:
print(df.shape)
print(df.info())

(201, 26)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB
None

**What is the average Price of all cars in the dataset?**

In [15]:
ap = df['price'].mean()
print(f"The average price of all cars is: {ap}")

The average price of all cars is: 13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [16]:
cm = df['price'].min()
print(f"The cheapest make of car in the lot is: {cm}")

The cheapest make of car in the lot is: 5118

**How many cars have horsepower greater than 100?**

In [20]:
hp = df[df['horsepower']>100]
print(f"Cars with Horsepower greater than 100:{len(hp)}")
print(hp)

Cars with Horsepower greater than 100:90
     symboling  normalized_losses         make fuel_type aspiration  \
0            3                168  alfa-romero       gas        std
1            3                168  alfa-romero       gas        std
2            1                168  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

    number_of_doors   body_style drive_wheels engine_location  wheel_base  \
0               two  convertible          rwd           front        88.6
1               two  convertible          rwd           front        88.6
2               two    hatchback          rwd           front        94.5
3              four        sedan          fwd           front        99.8
4              four        sedan          4wd           front        99.4
..              ...          ...          ...             ...         ...
196            four        sedan          rwd           front       109.1
197            four        sedan          rwd           front       109.1
198            four        sedan          rwd           front       109.1
199            four        sedan          rwd           front       109.1
200            four        sedan          rwd           front       109.1

     ...  engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0    ...          130         mpfi  3.47    2.68               9.0        111
1    ...          130         mpfi  3.47    2.68               9.0        111
2    ...          152         mpfi  2.68    3.47               9.0        154
3    ...          109         mpfi  3.19    3.40              10.0        102
4    ...          136         mpfi  3.19    3.40               8.0        115
..   ...          ...          ...   ...     ...               ...        ...
196  ...          141         mpfi  3.78    3.15               9.5        114
197  ...          141         mpfi  3.78    3.15               8.7        160
198  ...          173         mpfi  3.58    2.87               8.8        134
199  ...          145          idi  3.01    3.40              23.0        106
200  ...          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg  highway_mpg  price
0        5000       21           27  13495
1        5000       21           27  16500
2        5000       19           26  16500
3        5500       24           30  13950
4        5500       18           22  17450
..        ...      ...          ...    ...
196      5400       23           28  16845
197      5300       19           25  19045
198      5500       18           23  21485
199      4800       26           27  22470
200      5400       19           25  22625

[90 rows x 26 columns]

**How many hatchback cars are in the dataset ?**

In [21]:
hb = df[df['body_style']=='hatchback']
print(f"The number of hatchback cars in the dataset is: {len(hb)}")
print(hb)

The number of hatchback cars in the dataset is: 68
     symboling  normalized_losses         make fuel_type aspiration  \
2            1                168  alfa-romero       gas        std
17           2                121    chevrolet       gas        std
18           1                 98    chevrolet       gas        std
20           1                118        dodge       gas        std
21           1                118        dodge       gas        std
..         ...                ...          ...       ...        ...
171         -1                 65       toyota       gas        std
173         -1                 65       toyota       gas        std
174          3                197       toyota       gas        std
175          3                197       toyota       gas        std
186          3                256   volkswagen       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
2               two  hatchback          rwd           front        94.5  ...
17              two  hatchback          fwd           front        88.4  ...
18              two  hatchback          fwd           front        94.5  ...
20              two  hatchback          fwd           front        93.7  ...
21              two  hatchback          fwd           front        93.7  ...
..              ...        ...          ...             ...         ...  ...
171            four  hatchback          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...
174             two  hatchback          rwd           front       102.9  ...
175             two  hatchback          rwd           front       102.9  ...
186             two  hatchback          fwd           front        94.5  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
2            152         mpfi  2.68    3.47              9.00        154
17            61         2bbl  2.91    3.03              9.50         48
18            90         2bbl  3.03    3.11              9.60         70
20            90         2bbl  2.97    3.23              9.41         68
21            90         2bbl  2.97    3.23              9.40         68
..           ...          ...   ...     ...               ...        ...
171          122         mpfi  3.31    3.54              8.70         92
173          122         mpfi  3.31    3.54              8.70         92
174          171         mpfi  3.27    3.35              9.30        161
175          171         mpfi  3.27    3.35              9.30        161
186          109         mpfi  3.19    3.40              8.50         90

     peak_rpm city_mpg  highway_mpg  price
2        5000       19           26  16500
17       5100       47           53   5151
18       5400       38           43   6295
20       5500       37           41   5572
21       5500       31           38   6377
..        ...      ...          ...    ...
171      4200       27           32   9988
173      4200       27           32  11248
174      5200       20           24  16558
175      5200       19           24  15998
186      5500       24           29   9980

[68 rows x 26 columns]

**What are the 3 most commonly found cars in the dataset?**

In [24]:
cc = df['make'].value_counts().nlargest(3)
print(f"The 3 most commonly found cars are:\n{cc}")

The 3 most commonly found cars are:
make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [26]:
mc = df[df['price']==7099]
print(f"The make of the car is: {mc['make']}")

The make of the car is: 87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [27]:
gt = df[df['price']>40000]
print(f"The cars priced greater than 40000 are:\n{gt}")

The cars priced greater than 40000 are:
    symboling  normalized_losses           make fuel_type aspiration  \
15          0                149            bmw       gas        std
70          0                140  mercedes-benz       gas        std
71          1                140  mercedes-benz       gas        std

   number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
15             two      sedan          rwd           front       103.5  ...
70            four      sedan          rwd           front       120.9  ...
71             two    hardtop          rwd           front       112.0  ...

    engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
15          209         mpfi  3.62    3.39               8.0        182
70          308         mpfi  3.80    3.35               8.0        184
71          304         mpfi  3.80    3.35               8.0        184

    peak_rpm city_mpg  highway_mpg  price
15      5400       16           22  41315
70      4500       14           16  40960
71      4500       14           16  45400

[3 rows x 26 columns]

**Which are the cars that are both a sedan and priced less than 7000?**

In [28]:
sp = df[(df['body_style']=='sedan') & (df['price']<7000)]
print(f"The cars that are both a sedan and priced less than 7000 are:\n{sp}")

The cars that are both a sedan and priced less than 7000 are:
     symboling  normalized_losses        make fuel_type aspiration  \
19           0                 81   chevrolet       gas        std
24           1                148       dodge       gas        std
42           0                110       isuzu       gas        std
50           1                113       mazda       gas        std
82           1                125  mitsubishi       gas        std
86           1                128      nissan       gas        std
88           1                128      nissan       gas        std
89           1                122      nissan       gas        std
118          1                154    plymouth       gas        std
152          0                 91      toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
19             four      sedan          fwd           front        94.5  ...
24             four      sedan          fwd           front        93.7  ...
42             four      sedan          rwd           front        94.3  ...
50             four      sedan          fwd           front        93.1  ...
82             four      sedan          fwd           front        96.3  ...
86              two      sedan          fwd           front        94.5  ...
88              two      sedan          fwd           front        94.5  ...
89             four      sedan          fwd           front        94.5  ...
118            four      sedan          fwd           front        93.7  ...
152            four      sedan          fwd           front        95.7  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
19            90         2bbl  3.03    3.11               9.6         70
24            90         2bbl  2.97    3.23               9.4         68
42           111         2bbl  3.31    3.23               8.5         78
50            91         2bbl  3.03    3.15               9.0         68
82           122         2bbl  3.35    3.46               8.5         88
86            97         2bbl  3.15    3.29               9.4         69
88            97         2bbl  3.15    3.29               9.4         69
89            97         2bbl  3.15    3.29               9.4         69
118           90         2bbl  2.97    3.23               9.4         68
152           98         2bbl  3.19    3.03               9.0         70

     peak_rpm city_mpg  highway_mpg  price
19       5400       38           43   6575
24       5500       31           38   6692
42       4800       24           29   6785
50       5000       31           38   6695
82       5000       25           32   6989
86       5200       31           37   5499
88       5200       31           37   6649
89       5200       31           37   6849
118      5500       31           38   6692
152      4800       30           37   6938

[10 rows x 26 columns]

 **Count the number of unique values in the `fuel_type` column.**

In [34]:
u = df['fuel_type'].unique()
k = df['fuel_type'].nunique()
print(f"The number of unique values in the fuel_type column is: {k}")
print(f"The two unique elements in the fuel_type column are: {u}")

The number of unique values in the fuel_type column is: 2
The two unique elements in the fuel_type column are: ['gas' 'diesel']

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [35]:
ca = df[(df['horsepower']>=100) & (df['horsepower']<=200)]
print(ca[['make','horsepower','price']])

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [36]:
cav = df.groupby('body_style')['city_mpg'].mean()
print(cav)

body_style
convertible    20.500000
hardtop        21.625000
hatchback      26.602941
sedan          25.053191
wagon          24.040000
Name: city_mpg, dtype: float64

In [38]:
hav = df.groupby('body_style')['highway_mpg'].mean()
print(hav)

body_style
convertible    26.000000
hardtop        27.250000
hatchback      32.382353
sedan          30.574468
wagon          28.720000
Name: highway_mpg, dtype: float64

**What is the median `price` for each `make`?**

In [39]:
m = df.groupby('make')['price'].median()
print(m)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [40]:
lc = df[(df['wheel_base']>100) & (df['curb_weight']<2500)]
print(lc)

     symboling  normalized_losses    make fuel_type aspiration  \
9            2                192     bmw       gas        std
10           0                192     bmw       gas        std
169         -1                 65  toyota       gas        std
170         -1                 65  toyota    diesel      turbo
171         -1                 65  toyota       gas        std
172         -1                 65  toyota       gas        std
173         -1                 65  toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
9               two      sedan          rwd           front       101.2  ...
10             four      sedan          rwd           front       101.2  ...
169            four      sedan          fwd           front       102.4  ...
170            four      sedan          fwd           front       102.4  ...
171            four  hatchback          fwd           front       102.4  ...
172            four      sedan          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
9            108         mpfi  3.50    2.80               8.8        101
10           108         mpfi  3.50    2.80               8.8        101
169          122         mpfi  3.31    3.54               8.7         92
170          110          idi  3.27    3.35              22.5         73
171          122         mpfi  3.31    3.54               8.7         92
172          122         mpfi  3.31    3.54               8.7         92
173          122         mpfi  3.31    3.54               8.7         92

     peak_rpm city_mpg  highway_mpg  price
9        5800       23           29  16430
10       5800       23           29  16925
169      4200       29           34   8948
170      4500       30           33  10698
171      4200       27           32   9988
172      4200       27           32  10898
173      4200       27           32  11248

[7 rows x 26 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [41]:
df['price_per_hp'] = df['price']/df['horsepower']
df

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,121.576577
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,148.648649
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,107.142857
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,136.764706
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,151.739130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,147.763158
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,119.031250
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,160.335821
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,211.981132
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,198.464912

**Count how many cars have a `number_of_doors` as `four`.**

In [43]:
f = df[df['number_of_doors']=='four'].value_counts()
print(len(f))

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [44]:
tp = df.sort_values(by=['highway_mpg','price'],ascending=False).head(5)
print(tp)

     symboling  normalized_losses       make fuel_type aspiration  \
29           2                137      honda       gas        std
17           2                121  chevrolet       gas        std
87           1                128     nissan    diesel        std
155          0                 91     toyota    diesel        std
156          0                 91     toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
29              two  hatchback          fwd           front        86.6  ...
17              two  hatchback          fwd           front        88.4  ...
87              two      sedan          fwd           front        94.5  ...
155            four  hatchback          fwd           front        95.7  ...
156            four      sedan          fwd           front        95.7  ...

     fuel_system  bore  stroke  compression_ratio horsepower peak_rpm  \
29          1bbl  2.91    3.41                9.6         58     4800
17          2bbl  2.91    3.03                9.5         48     5100
87           idi  2.99    3.47               21.9         55     4800
155          idi  3.27    3.35               22.5         56     4500
156         2bbl  3.19    3.03                9.0         70     4800

     city_mpg highway_mpg  price  price_per_hp
29         49          54   6479    111.706897
17         47          53   5151    107.312500
87         45          50   7099    129.072727
155        38          47   7788    139.071429
156        38          47   7738    110.542857

[5 rows x 27 columns]

**How many cars have missing values in the `normalized_losses` column?**

In [45]:
df.isnull().sum()

symboling              0
normalized_losses      0
make                   0
fuel_type              0
aspiration             0
number_of_doors        0
body_style             0
drive_wheels           0
engine_location        0
wheel_base             0
length                 0
width                  0
height                 0
curb_weight            0
engine_type            0
number_of_cylinders    0
engine_size            0
fuel_system            0
bore                   0
stroke                 0
compression_ratio      0
horsepower             0
peak_rpm               0
city_mpg               0
highway_mpg            0
price                  0
price_per_hp           0
dtype: int64

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [48]:
import numpy as np
current_year = 2025
base_year = 2000
max_price = df['price'].max()
df['year_of_manufacture'] = np.round(base_year + (df['price'] / max_price) * (current_year - base_year))
df['car_age'] = current_year - df['year_of_manufacture']
print(df[['make', 'price', 'year_of_manufacture', 'car_age']].head())

          make  price  year_of_manufacture  car_age
0  alfa-romero  13495               2007.0     18.0
1  alfa-romero  16500               2009.0     16.0
2  alfa-romero  16500               2009.0     16.0
3         audi  13950               2008.0     17.0
4         audi  17450               2010.0     15.0

### The END